body {
  background: #eee;
}

html, body, #root {
  height: 100%;
  margin: 0;
}
.page-wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -100px;
}
.footer,
.push {
  height: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding-top: 10px;
}

.logo-wrapper {
  float: left;
}

.logo-minsk-wrapper {
  float: right;
}

.logo {
  width: 250px;
  height: auto;
}

.logo-minsk {
  width: auto;
  height: 63px;
}

.top-menu {
  clear: both;
  padding-top: 5px;
}

.top-menu ul {
  margin-left: 0;
  padding-left: 0;
}

.top-menu li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #0677BE;
}

.top-menu li:first-child {
  padding-left: 0;
  border-left: none;
}

.footer {
  background: #222;
  color: #fff;
}

.footer .container {
  padding-top: 10px;
}

a, a:visited {
  color: #0677BE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  margin-bottom: 40px;
}

.title-wrapper {
  margin-bottom: 20px;
}

.body-wrapper {
  margin-bottom: 20px;
}

